# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Build folders
dist/
build/

# Vite
.vite

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Cache
.cache/

# Temporary files
*.tmp
*.temp